<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
</head>
<body>
    <h1>ホームへようこそ！</h1>
    <p>{{ user.username }} さん、こんにちは！</p>

    <ul>
        <li><a href="{% url 'player_beyblade_create' %}">プレイヤー・ベイブレードを登録する</a></li>
        <li><a href="{% url 'player_list' %}">プレイヤー・ベイブレード一覧を見る</a></li>
        <li><a href="{% url 'match_list' %}">勝敗一覧を見る</a></li>
        <li><a href="{% url 'match_create' %}">勝敗を登録する</a></li>
            
    </ul>

    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

</body>
</html>