{% load static %}
<!-- 残す -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ホーム画面</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>ホーム画面</h1>
        <p>{{ user.username }} さん、こんにちは！</p>

        <!-- 上3つ -->
        <ul>
            <li><a href="{% url 'player_beyblade_create' %}" class="button">プレイヤー・ベイブレード登録</a></li>
            <li><a href="{% url 'player_list' %}" class="button">プレイヤー・ベイブレード一覧</a></li>
            <li><a href="{% url 'match_create' %}" class="button">勝敗を登録</a></li>
        </ul>

        <!-- 下2つ -->
        <ul>
            <li><a href="{% url 'match_list' %}" class="button">勝敗一覧</a></li>
            <li><a href="{% url 'player_stats' %}" class="button">プレイヤー勝率一覧</a></li>   
        </ul>

        <form action="{% url 'logout' %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit">ログアウト</button>
        </form>
    </div>
</body>
</html>