{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>ログイン</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="button">ログイン</button><br>
            <a href="{% url 'register' %}" class="button">アカウントを作成する</a>
        </form>
    </div>
</body>
</html>