{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-datepicker/1.13.0/i18n/datepicker-ja.min.js"></script>
    
    <meta charset="UTF-8">
    <title>勝敗登録</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>勝敗登録</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">登録</button>
        </form>
        <p><a href="{% url 'home' %}" class="button">ホームに戻る</a></p>
    </div>
</body>
</html>

<script>
$(function() {
    $("#datepicker").datepicker({
        dateFormat: 'yy-mm-dd',
        showOtherMonths: true,
        selectOtherMonths: true
    });
});
</script>