{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プレイヤー・ベイブレード一覧</title>
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
<div class="container">
  <h1>プレイヤー・ベイブレード一覧</h1>

  <table>
    <thead>
      <tr>
        <th>プレイヤー名</th>
        <th>ベイブレード一覧</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      {% if players %}
        {% for player in players %}
          <tr>
            <td>{{ player.name }}</td>
            <td>
              {% if player.beyblades.all %}
              <ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: column; align-items: center;">
                  {% for beyblade in player.beyblades.all %}
                      <li>{{ beyblade.name }}</li>
                  {% endfor %}
              </ul>
              {% else %}
                なし
              {% endif %}
            </td>
            <td>
              <a href="{% url 'player_update' player.pk %}" class="button">編集</a>
              <a href="{% url 'player_delete' player.pk %}" class="button logout-button">削除</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3" style="text-align: center;">まだプレイヤーが登録されていません。</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <a href="{% url 'player_beyblade_create' %}" class="button">プレイヤー・ベイブレードを登録する</a><br>
  <a href="{% url 'home' %}" class="button">ホームに戻る</a>
</div>
</body>
</html>